@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

$trans-blue: #5BCEFA;
$trans-pink: #F5A9B8;
$accent: #9E1982;

$primary: $accent;

#app {
	font-family: "Ubuntu", "Helvetica", sans-serif;
}

body {
	margin: 0;
	padding: 0;
}