<template>
	<div class="landing_page">
		<div class="welcome">
			<h2>Welcome to UWU Air!</h2>
			<p>I am still working on the site. Please check back later.</p>
			<span>&lt;3 Allie</span>
		</div>
		<img :src="require('@/assets/images/logo.png')" alt="">
	</div>
</template>

<script lang="ts">
import { Vue } from 'vue-class-component';

export default class LandingPage extends Vue {}
</script>

<style lang="scss" scoped>
.landing_page {
	height: 100vh;
	width: 100vw;
	background-image: url('~@/assets/images/plane_wing.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	&::before {
		height: 100%;
		width: 100%;
		background: rgba(#000, 0.8);
		content: "";
		position: absolute;
		top: 0;
		left: 0;
	}

	img {
		position: absolute;
		height: 4em;
		bottom: 1em;
		right: 1em;
	}
}

.welcome {
	position: relative;
	background: rgba($accent, 0.85);
	padding: 2em;
	color: #fff;

	span {
		display: block;
		text-align: right;
		font-size: 0.75em;
		font-style: italic;
	}
}

</style>
